.grid-column {
    display: grid;
    grid-auto-flow: column;
}

.grid-row {
    display: grid;
    grid-auto-flow: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

body {
    margin: 0;
    padding: 0;
}