:root {
  --font-size-base: clamp(14px, 0.4vw + 1rem, 18px);
  --space: 1lh;
  --font-family-base: system-ui, "Segoe UI", Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans",  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol","Noto Color Emoji";
}

html {
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-family-base);
  margin: 0;
  padding: 0;
  color: #222;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  line-height: 1.2;
  margin: calc(var(--space) * 1.5) 0 calc(var(--space) * 0.8);
}

h1 {
  font-size: clamp(2.2rem, 1.5vw + 1.5rem, 3.2rem);
}

h2 {
  font-size: clamp(1.8rem, 1.2vw + 1.2rem, 2.6rem);
}

h3 {
  font-size: clamp(1.5rem, 1vw + 1rem, 2.2rem);
}

h4 {
  font-size: clamp(1.3rem, 0.8vw + 0.9rem, 1.8rem);
}

h5 {
  font-size: clamp(1.1rem, 0.5vw + 0.8rem, 1.4rem);
}

h6 {
  font-size: clamp(1rem, 0.3vw + 0.75rem, 1.2rem);
}

p {
  font-size: 1rem;
  margin: var(--space) 0;
  max-width: 70ch;
}

ul,
ol {
  margin: var(--space) 0 var(--space) 1.5rem;
}

article {
  max-width: 70ch;
  margin: auto;
  padding: 1rem;
}
