@media (min-width: 600px) {
  html {
    font-size: 1.05rem; /* ~16.8px tablets*/
  }
}

@media (min-width: 900px) {
  html {
    font-size: 1.1rem; /* ~17.6px laptops*/
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.125rem; /* ~18px desktops*/
  }
}

body {
  font-family: system-ui, "Segoe UI", Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans",  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol","Noto Color Emoji";
}
